@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  background: rgb(39, 39, 39);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}
body a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
body ul {
  list-style: none;
}

header {
  background-color: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.yellow {
  background: rgb(252, 199, 14);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}

.header .first_part_header {
  width: 1200px;
  height: 100px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
}
.header .first_part_header .truck {
  width: 127px;
  height: 100px;
}
.header .first_part_header h1 {
  width: 1200px;
  font-weight: 600;
  font-size: 16px;
  width: 107px;
  height: 23px;
}
.header .first_part_header .divider {
  width: 0px;
  height: 74px;
  margin: 0 0px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .first_part_header .icon {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  gap: 8px;
}
.header .first_part_header .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 275px;
  height: 100px;
  background-color: aqua;
}
.header .first_part_header .WhatsApp {
  margin-right: 10px;
}
.header .first_part_header .location {
  width: 250px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 19.2px;
}
.header .first_part_header .hours {
  width: 180px;
}
.header .first_part_header .phone {
  float: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 36.57px;
}
.header .first_part_header .daily {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.header .second_part_header {
  width: 1200px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  -webkit-box-shadow: 0px 4px 60px 0px rgba(255, 255, 255, 0.1) inset;
          box-shadow: 0px 4px 60px 0px rgba(255, 255, 255, 0.1) inset;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* позиционирование самого модального окна */
  /* кнопочка закрытия модального окна */
  /* сама картинка кнопочки закрытия */
  /* делаем позиционирование внутренних элементов относительно модального окна */
}
.header .second_part_header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.header .second_part_header ul li {
  margin: 0 80px;
}
.header .second_part_header ul a {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.84px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header .second_part_header button {
  width: 305px;
  height: 56px;
  border-radius: 11px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
}
.header .second_part_header button:hover {
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.header .second_part_header .modalBackground {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* указываем z-индекс для корректного наслаивания */
  z-index: 1;
}
.header .second_part_header .modalActive {
  position: absolute;
  width: 350px;
  height: 495px;
  top: calc(50% - 250px);
  left: calc(50% - 175px);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  cursor: default;
  padding: 40px 20px;
}
.header .second_part_header .modalClose {
  font-family: var(--font-regular);
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.header .second_part_header .modalClose img {
  margin: 3px;
  width: 24px;
  height: 24px;
}
.header .second_part_header .modalWindow {
  position: relative;
}
.header dialog {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(125, 125, 125);
  border: none;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
}
.header input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
  width: 722px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 8px;
}
.header #close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -320px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -90px;
  margin-bottom: 20px;
  background: transparent;
}
.header #close:hover,
.header #close:focus {
  color: #000;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.header #open {
  background-color: rgb(252, 199, 14);
  border-radius: 16px;
}

.main .first_part {
  width: 1920px;
  height: 810px;
  margin-top: 40px;
  background: rgba(39, 39, 39, 0.8);
  font-family: "Unbounded", sans-serif;
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
}
.main .first_part button {
  width: 380px;
  height: 56px;
  border-radius: 16px;
  background: rgb(252, 199, 14);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main .first_part h6 {
  height: 40px;
  width: 336px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19.84px;
}
.main .first_part .truck {
  width: 1411px;
  height: 809px;
  -webkit-box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.5);
}
.main .first_part h2 {
  height: 79px;
  width: 1030px;
  font-weight: 500;
  font-size: 64px;
  line-height: 79.36px;
  margin-left: 120px;
}
.main .first_part h4 {
  height: 120px;
  width: 1136px;
  font-weight: 300;
  font-size: 48px;
  width: 500px;
  line-height: 59.52px;
  padding-bottom: 40px;
  margin-left: 120px;
}
.main .first_part > * {
  margin-bottom: 10px; /* Добавим немного отступа между элементами */
}
.main .first_part > img {
  width: 50px; /* Уменьшим размер изображения */
  margin-right: auto; /* Разместим изображение справа */
}
.main .point_o {
  margin-left: 120px;
}
.main .point_oh {
  margin-left: 190px;
  margin-top: -50px;
}
.main .point_t {
  margin-left: 530px;
  margin-top: -50px;
}
.main .point_th {
  margin-left: 600px;
  margin-top: -48px;
}
.main h6 {
  width: 250px;
}
.main .first_part > .truck {
  width: 600px;
  margin-left: auto;
  margin-right: 0;
}
.main .first_part > .yellow {
  background: rgb(252, 199, 14);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  width: 300px;
  margin-top: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 120px;
  color: rgb(0, 0, 0);
}
.main .first_part button:hover {
  color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.main .truck {
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  margin-top: -350px;
  clear: both;
}
.main .prep {
  width: 170px;
  height: 50px;
  margin-left: 200px;
  font-family: "Unbounded", sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  line-height: 49.6px;
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main .container .service {
  width: 585px;
  height: 543px;
  width: 45%;
  margin: 1%;
  max-width: 50%;
  max-height: 50%;
}
.main .container .service img {
  margin-top: 5%;
  width: 585px;
  height: 308px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main .container .service h3 {
  width: 585px;
  height: 30px;
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.76px;
}
.main .container .service p {
  width: 585px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-left: 150px;
}
.main .container .service button {
  float: left;
  margin-top: 50px;
  width: 100px;
  height: 35px;
  max-height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .container .service button a {
  color: #000;
}
.main .container .service button a:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: 0.5s;
          transform: 0.5s;
}
.main dialog .master {
  margin-left: 70px;
  font-weight: 400;
  font-family: "Unbounded", sans-serif;
}
.main dialog .field {
  font-weight: 400;
  font-family: "Unbounded", sans-serif;
  font-size: 16px;
}
.main .prem {
  margin-left: 210px;
  margin-top: 50px;
  font-size: 32px;
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
}
.main .third_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 300px;
  margin-bottom: 200px;
  margin-left: 150px;
}
.main .third_part .third_second_part {
  margin-bottom: 100px;
  width: 250px;
  max-height: 10%;
  margin-right: 50px;
  text-align: center;
}
.main .third_part .third_second_part h2 {
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
}
.main .third_part .third_second_part p {
  font-size: 16px;
}
.main .fourth_part {
  width: 1197px;
  margin-left: 100px;
  font-weight: 400;
  margin-top: 100px;
}
.main .fourth_part h1 {
  margin-left: 120px;
  font-family: "Unbounded", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.main .fourth_part h3, .main .fourth_part h4 {
  color: rgb(252, 199, 14);
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
}
.main .fourth_part h3,
.main .fourth_part p {
  margin-left: 200px;
  margin-bottom: -30px;
}
.main .fourth_part h3 {
  margin-bottom: -40px;
}
.main .fourth_part h4,
.main .fourth_part h5 {
  text-align: right;
  margin-right: 170px;
}
.main .fourth_part h4 {
  margin-bottom: 5px;
}
.main .fourth_part h5 {
  margin-top: 0;
  font-weight: 400;
}
.main .fourth_part h5, .main .fourth_part p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.main .fourth_part .prices {
  margin-top: 30px;
  padding-bottom: 0px;
}
.main .fourth_part hr {
  width: calc(86% - 200px);
  margin: 5px 200px;
  border: 1px solid rgba(252, 199, 14, 0.6);
}
.main .fifth_part {
  font-weight: 400;
  margin-bottom: 100px;
}
.main .fifth_part .works {
  margin-top: 80px;
  margin-left: 200px;
  font-size: 40px;
  font-family: "Unbounded", sans-serif;
}
.main .fifth_part img {
  float: left;
  margin-right: 20px;
  margin-left: 500px;
  margin-bottom: -40px;
}
.main .fifth_part h2,
.main .fifth_part p {
  clear: left;
  font-size: 16px;
}
.main .fifth_part p {
  margin-left: 608px;
  clear: both;
  width: 500px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.main .fifth_part h2 {
  margin-left: 610px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Unbounded", sans-serif;
}
.main .sixth_part {
  margin-left: 200px;
  font-family: "Unbounded", sans-serif;
}
.main .sixth_part h1 {
  margin-left: 0;
  font-size: 40px;
  font-weight: 400;
}
.main .sixth_part h2 {
  font-weight: 400;
  font-size: 40px;
}
.main .sixth_part .ne {
  background: url(/assets/img/circle.svg);
}
.main .sixth_part h4 {
  font-weight: 300;
  font-size: 24px;
  width: 600px;
}
.main .sixth_part h2, .main .sixth_part h4 {
  margin-left: 400px;
}
.main .sixth_part hr {
  width: 100px;
  margin-left: -120px;
  margin-bottom: -26px;
}
.main .final_modal {
  height: 448px;
  width: 850px;
  font-weight: 400;
  background: rgba(125, 125, 125, 0.1);
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 16px;
  font-family: "Montserrat", sans-serif;
}
.main .final_modal h1 {
  padding-top: 30px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 60px;
}
.main .final_modal input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
  width: 722px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 8px;
}
.main .final_modal input:nth-last-child(1) {
  margin-bottom: 50px;
}
.main .final_modal span:not(a > span, h2 > span) {
  color: rgb(168, 0, 0);
  margin: 5px;
}
.main .final_modal .module {
  margin-left: 60px;
  width: 722px;
  height: 56px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.main .final_modal .module:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.main .final_modal .send {
  margin-left: 60px;
  padding-bottom: 50px;
  font-size: 10px;
}
.main .final_modal .politic {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.main .final_modal .politic:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

footer .first_part_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .first_part_footer .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .first_part_footer .divider {
  width: 1px;
  height: 30px;
  margin: 0 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
footer .second_part_footer {
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .second_part_footer .h3_one {
  margin-left: 150px;
  width: 300px;
}
footer .second_part_footer .h3_two {
  float: inline-end;
  margin-right: 150px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin-top: -45px;
}
footer .second_part_footer .h3_two:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}