

@import "mixins";
@import "variables";
body{
    margin: 0;
    padding: 0;
    background: rgba(39, 39, 39, 1);
    color: rgb(255,255,255);
    a{
        text-decoration: none;
        color: rgb(255,255,255);
    }
    ul{
        list-style: none;
    }
}
header{
    background-color:#272727;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.yellow{
   @include yellow_btn;
}
.header {
    .first_part_header{
        margin-top: 2%;
        display: $display_flex;
        justify-content: space-between;
      
        height: 40%;
        align-items: center;
    }
    figure{
        margin-left: auto;
        margin-top: auto;
    }
    .truck{
        margin-top: 5%;
        margin-left: 5%;
        width: 127px;      
        height: 77px;
        
    }
    .logotype{
        margin-left: 10%;
        font-size: $font_size_classic;
        color: white;
    }
    hr{
        transform: rotate(90deg);
        height: 0;
        width: 40px;
        
    }
    img:not(figure){
        width: 50px;
        height: 50px;
        margin-right: 2%;
        
    }
    .location,
    .mail {
        display: block; // Устанавливаем отображение в виде блока
        margin-bottom: 10px; // Добавляем немного отступа снизу между элементами
        text-decoration: none; // Убираем подчеркивание ссылок
        color: rgb(255,255,255); // Устанавливаем цвет текста
    }

    .location {
        font-size: 18px; // Устанавливаем размер шрифта для местоположения
    }

    .mail {
        font-size: 16px; // Устанавливаем размер шрифта для электронной почты
    }
    .second_part_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 16px;
        box-shadow: 0px 4px 60px 0px rgba(255, 255, 255, 0.1) inset;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      
        ul {
          display: flex;
          list-style: none;
          padding: 0;
      
          li {
            margin: 0 80px; // Отступы между элементами
          }
      
          a {
            font-size: 16px;
            text-decoration: none;
            color: rgba(255,255,255,1); // Цвет текста ссылок
          }
        }
      
        button.yellow {
          margin: 0 10px; // Отступы между кнопкой и элементами списка

          a{
            text-decoration: none;
            color: rgba(0,0,0,1);
          }
        }
      }
      

}
.main{
    .first_part {
        color: rgb(255,255,255);
        display: flex;
        flex-direction: column;
        // align-items: center;
        // text-align: center;
      }
      
      .first_part > * {
        margin-bottom: 10px; /* Добавим немного отступа между элементами */
      }
      
      .first_part > img {
        width: 50px; /* Уменьшим размер изображения */
        margin-right: auto; /* Разместим изображение справа */
      }
      .first_part>.truck{
        width: 150px;
        margin-left: auto;
        margin-right: 0;
      }
      
      .yellow {
        margin-top: 20px;
        align-self: flex-end; /* Разместим кнопку внизу справа */
      }
      
      
      



      .second_part {
        color: rgb(255,255,255);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
      }
      
      .second_part > h3 {
        color: rgb(255,255,255);
        text-align: center;
        margin-top: 10px;
      }
      
      .second_part > img {
        width: 200px; /* Размер картинки */
      }
      
      .yellow {
        margin-top: 10px;
      }












      .fourth_part {
        width: 1197px;
        margin-left: 100px;
        font-weight: 400;
        h1 {
          margin-left: 200px;
          font-family: $h3-fonts;
          font-size: 40px;
        }
        h3, h4{
            color: rgba(252, 199, 14, 1);
            font-family: $h3-fonts;
            font-size: 20px;
        }
        
      
        h3,
        p {
          margin-left: 200px;
          margin-bottom: -30px; // расположение с левого края для тегов h3 и p
        }
        h3 {
            margin-bottom: -40px; 
        }
      
        h4,
        h5 {
          text-align: right;
          margin-right: 170px; // выравнивание по правому краю для заголовков h4 и h5
        }
        h4{
            margin-bottom: 5px;
        }
      
        h5 {
          margin-top: 0;
          font-weight: 400; // убираем верхний отступ у заголовка h5
        }
        h5, p{
            font-family: $paragraph_a-fonts;
            font-size: 24px;
        }
        .prices{
            margin-top: 30px;
            padding-bottom: 0px;
        }
      
        hr {
          width: calc(86% - 200px); // растягиваем горизонтальную линию по всей ширине, за вычетом отступа слева
          margin: 5px 200px;
          border: 1px solid rgba(252, 199, 14, 0.6) // добавляем немного отступа сверху и снизу от линии
        }
      }


      .fifth_part {
        font-weight: 400;
        
        h1 {
            margin-top: 80px;
            margin-left: 200px;
            font-size: 40px;
            font-family: $h3-fonts; // расстояние от левого края для заголовка h1
        }
      
        img {
          float: left; // выравниваем картинки по левому краю
          margin-right: 20px;
          margin-left: 500px;
          margin-bottom: -40px; // добавляем отступ справа от картинок
        }
      
        h2,
        p {
          text-align: center; // выравниваем заголовки h2 и абзацы по центру
          clear: both;
          font-size: 16px; // очищаем обтекание для следующих за картинкой элементов
        }
        p{
            margin-left: 608px;
            width: 500px;
        }
      
        h2:not(p){
            
            margin-top: 0px;
            margin-bottom: 10px;
            font-weight: 400;
            font-family: $h3-fonts; // убираем верхний отступ у заголовка h2
        }
      }
      .sixth_part{
        
      }
      
      
      

      .final_modal{
        height: 448px;
        width: 850px;
        font-weight: 400;
        background: rgba(125, 125, 125, 0.1);
        margin-left: 300px;
        margin-right: 300px;
        border-radius: 16px;
        font-family: $paragraph_a-fonts;
      }

      h1{
        padding-top: 30px;
        font-size: 14px;
        font-weight: 600;
        margin-left: 60px;
      }
      input{
        display: flex;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: transparent;
        width: 722px;
        border: 1px solid rgba(158, 158, 158, 1);
        border-radius: 8px;    
      }
      input:nth-last-child(1) {
        margin-bottom: 50px;
      }
      span:not(a>span, h2>span){
        color: rgba(168, 0, 0, 1);
        margin: 5px;
      }
      .module{
        margin-left: 60px;
        width: 722px;
        height: 56px;
        font-weight: 600;
        font-size: 20px;
      }
      .module:hover{
        cursor: pointer;
        color: rgba(0, 0, 0, 0.3);
        transition: 0.6s;
      }
      .send{
        margin-left: 60px;
        padding-bottom: 50px;
        font-size: 10px;
      }
      .politic{
        border-bottom:  1px solid rgba(255, 255, 255, 0.5);
        font-size: 10px;
      }
      .politic:hover{
        cursor: pointer;
        color: rgba(255, 255, 255, 0.5);
        transition: 0.6s;
    }
}
