

@import "mixins";
@import "variables";
body{
    margin: 0;
    padding: 0;
    background: rgba(39, 39, 39, 1);

}
header{
    background-color:#272727;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.yellow{
   @include yellow_btn;
}
.header {
    .first_part_header{
        margin-top: 4%;
        display: $display_flex;
        justify-content: space-between;
        background-color: greenyellow;
        height: 40%;
        align-items: center;
    }
    figure{
        margin-left: auto;
        margin-top: auto;
        
    }
    .truck{
        margin-top: 5%;
        margin-left: 5%;
        width: 127px;      
        height: 77px;
        
    }
    .logotype{
        margin-left: 10%;
        font-size: $font_size_classic;
        color: white;
    }
    hr{
        transform: rotate(90deg);
        height: 0;
        width: 40px;
        
    }
    img:not(figure){
        width: 50px;
        height: 50px;
        margin-right: 2%;
        
    }
    .location, .mail{
        background-color: aqua;
        
    }
    .second_part_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 16px;
        box-shadow: 0px 4px 60px 0px rgba(255, 255, 255, 0.1) inset;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      
        ul {
          display: flex;
          list-style: none;
          padding: 0;
      
          li {
            margin: 0 80px; // Отступы между элементами
          }
      
          a {
            font-size: 16px;
            text-decoration: none;
            color: rgba(255,255,255,1); // Цвет текста ссылок
          }
        }
      
        button.yellow {
          margin: 0 10px; // Отступы между кнопкой и элементами списка

          a{
            text-decoration: none;
            color: rgba(0,0,0,1);
          }
        }
      }
      

}
.main{
    .first_part {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      
      .first_part > * {
        margin-bottom: 10px; /* Добавим немного отступа между элементами */
      }
      
      .first_part > img {
        width: 50px; /* Уменьшим размер изображения */
        margin-right: auto; /* Разместим изображение справа */
      }
      
      .yellow {
        margin-top: 20px;
        align-self: flex-end; /* Разместим кнопку внизу справа */
      }
      
      
      



    .second_part{
        background: rgba(39, 39, 39, 0.8);
        color: white;

        img:not(img>h3){
            width: 585px;
            height: 307px;
            gap: 0px;
            opacity: 0px;
            @include grid(2, 1%);
        }
        
        h3{
            font-family: $h3-fonts;
            visibility: hidden;
        }
        p{
            font-family: $paragraph_a-fonts;
        }
        button{
            width: 175px;
            height: 50px;
            align-items: $center;
            background: rgba(252, 199, 14, 1);
            box-shadow: $button_box_shadow;
            border-radius: 16px;
        }
        button>a{
            font-family: $paragraph_a-fonts;
            font-weight: 600;
            font-size: 16px;
            background: rgba(0, 0, 0, 1);
        }
    }
}
