@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
body {
  margin: 0;
  padding: 0;
  background: rgb(39, 39, 39);
  color: rgb(255, 255, 255);
}
body a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
body ul {
  list-style: none;
}

header {
  background-color: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.yellow {
  background: rgb(252, 199, 14);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}

.header .first_part_header {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header figure {
  margin-left: auto;
  margin-top: auto;
}
.header .truck {
  margin-top: 5%;
  margin-left: 5%;
  width: 127px;
  height: 77px;
}
.header .logotype {
  margin-left: 10%;
  font-size: 16px;
  color: white;
}
.header hr {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 0;
  width: 40px;
}
.header img:not(figure) {
  width: 50px;
  height: 50px;
  margin-right: 2%;
}
.header .location,
.header .mail {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header .location {
  font-size: 18px;
}
.header .mail {
  font-size: 16px;
}
.header .second_part_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  -webkit-box-shadow: 0px 4px 60px 0px rgba(255, 255, 255, 0.1) inset;
          box-shadow: 0px 4px 60px 0px rgba(255, 255, 255, 0.1) inset;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header .second_part_header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.header .second_part_header ul li {
  margin: 0 80px;
}
.header .second_part_header ul a {
  font-size: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header .second_part_header button.yellow {
  margin: 0 10px;
}
.header .second_part_header button.yellow a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.main .first_part {
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .first_part > * {
  margin-bottom: 10px; /* Добавим немного отступа между элементами */
}
.main .first_part > img {
  width: 50px; /* Уменьшим размер изображения */
  margin-right: auto; /* Разместим изображение справа */
}
.main .first_part > .truck {
  width: 150px;
  margin-left: auto;
  margin-right: 0;
}
.main .yellow {
  margin-top: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end; /* Разместим кнопку внизу справа */
}
.main .second_part {
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main .second_part > h3 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
}
.main .second_part > img {
  width: 200px; /* Размер картинки */
}
.main .yellow {
  margin-top: 10px;
}
.main .fourth_part {
  width: 1197px;
  margin-left: 100px;
  font-weight: 400;
}
.main .fourth_part h1 {
  margin-left: 200px;
  font-family: "Unbounded", sans-serif;
  font-size: 40px;
}
.main .fourth_part h3, .main .fourth_part h4 {
  color: rgb(252, 199, 14);
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
}
.main .fourth_part h3,
.main .fourth_part p {
  margin-left: 200px;
  margin-bottom: -30px;
}
.main .fourth_part h3 {
  margin-bottom: -40px;
}
.main .fourth_part h4,
.main .fourth_part h5 {
  text-align: right;
  margin-right: 170px;
}
.main .fourth_part h4 {
  margin-bottom: 5px;
}
.main .fourth_part h5 {
  margin-top: 0;
  font-weight: 400;
}
.main .fourth_part h5, .main .fourth_part p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.main .fourth_part .prices {
  margin-top: 30px;
  padding-bottom: 0px;
}
.main .fourth_part hr {
  width: calc(86% - 200px);
  margin: 5px 200px;
  border: 1px solid rgba(252, 199, 14, 0.6);
}
.main .fifth_part {
  font-weight: 400;
}
.main .fifth_part h1 {
  margin-top: 80px;
  margin-left: 200px;
  font-size: 40px;
  font-family: "Unbounded", sans-serif;
}
.main .fifth_part img {
  float: left;
  margin-right: 20px;
  margin-left: 500px;
  margin-bottom: -40px;
}
.main .fifth_part h2,
.main .fifth_part p {
  text-align: center;
  clear: both;
  font-size: 16px;
}
.main .fifth_part p {
  margin-left: 608px;
  width: 500px;
}
.main .fifth_part h2:not(p) {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Unbounded", sans-serif;
}
.main .final_modal {
  height: 448px;
  width: 850px;
  font-weight: 400;
  background: rgba(125, 125, 125, 0.1);
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 16px;
  font-family: "Montserrat", sans-serif;
}
.main h1 {
  padding-top: 30px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 60px;
}
.main input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
  width: 722px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 8px;
}
.main input:nth-last-child(1) {
  margin-bottom: 50px;
}
.main span:not(a > span, h2 > span) {
  color: rgb(168, 0, 0);
  margin: 5px;
}
.main .module {
  margin-left: 60px;
  width: 722px;
  height: 56px;
  font-weight: 600;
  font-size: 20px;
}
.main .module:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.main .send {
  margin-left: 60px;
  padding-bottom: 50px;
  font-size: 10px;
}
.main .politic {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.main .politic:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}